#enter-color {
    background-color: #000000;
}

#enter-screen {
    height: 100vh;
}

.enter-btn {
    height: 50px;
    width: 120px;
    font-weight: 200;
    border: 1px solid white;
}

#home-color {
    background-color: #000000;
}

#home-screen {
    height: 100vh;
}

.pink-box {
    background-color: white;
    width: 0;
    height: 70%;
    position: relative;
}

.title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 500px;
    color: black;
    margin-bottom: -10px;
    position: absolute;
    z-index: 10;
}








/*FROM OLD*/
.media div img:hover {
    opacity: 0.75;
    color: rgba(0, 0, 0, 0.75);
}

.text-right-link {
    float: right;
    margin-right: 10px;
}

.text-right-view {
    margin-right: 0px;
}
/*.text-center-link {*/
/*padding-left: 40%;*/
/*}*/

.fas.two {
    margin-right: 10px;
}

@media (min-width: 992px) {
    .media div a {
        font-size: 2rem;
    }

    .media div h5 {
        font-size: 3rem;
    }


    .text-center-link {
        font-size: 1.25rem;
    }
}

@media (max-width: 991px) {
    .media div a {
        font-size: 1rem;
    }

    .media div h5 {
        font-size: 2rem;
    }

}

@media (max-width: 768px) {
    .media div a {
        font-size: 1rem;
    }

    .media div h5 {
        font-size: 2.0rem;
    }

    .media-body p {
        font-size: 1.0rem;
    }

    a p.text-center-link {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .media div a {
        font-size: 1rem;
    }

    .media div h5 {
        font-size: 1.2rem;
    }

    .media-body p {
        font-size: 0.6rem;
    }

    a p.text-center-link {
        font-size: 12px;
    }
}

a p {
    margin-top: 25px;
    font-size: 16px;
    /*font-weight: 500;*/
    color: #9cbbf3;
}

a:hover p.text-center-link {
    color: #b8cef6;
    text-decoration: none;
}

.shop {
    padding-top: 20px;
    padding-bottom: 20px;
}

a p.text-center-link {
    color: black;
}

div.test-container img {
    /*width: 100%;*/
    max-height: 500px;
    overflow: hidden;
}

.home-header-title {
    font-weight: 200;
    font-size: 5rem;
    color: gainsboro;
}

.home-header-subtitle {
    font-weight: 200;
    font-size: 3rem;
    color: lightgray;
    opacity: 0.75;
}

.home-header-poem {
    font-weight: 200;
    font-size: 3.5rem;
    color: white;
    font-style: italic;
    padding-bottom: 100px;
}


.home-header-link {
    font-weight: 200;
    font-size: 2rem;
    font-style: italic;
    color: white;
    pointer-events: auto !important;
}

h2 {
    font-weight: 200;
    align-self: center;
}

.home-header-link:hover {
    color: gainsboro;
}

/* HEADER STYLING */
@media (min-width: 992px) {
    header {
        width: 100%;
        max-height: 100%;
    }

    .header-image {
        width: 100%;
        height: 150%;
        overflow: hidden;
        object-fit: cover;
    }

    .header-title {
        font-size: 4.0rem;
    }

    .header-title-sub {
        font-size: 3rem;
    }

    .header-subtitle {
        font-size: 2rem;
    }


    .home-container {
        margin-top: 5%;
        max-width: 60%;
        margin-left: 20%
    }
}

@media (max-width: 991px) {
    header {
        width: 100%;
        max-height: 100%;
    }

    .header-image {
        width: 100%;
        height: 150%;
        overflow: hidden;
        object-fit: cover;
    }

    .header-title {
        font-size: 3.5rem;
    }

    .header-title-sub {
        font-size: 2.25rem;
    }

    .header-subtitle {
        font-size: 1.75rem;
    }


    .home-container {
        margin-top: 5%;
        max-width: 80%;
        margin-left: 10%
    }
}

@media (max-width: 768px) {
    .header-title {
        font-size: 2.5rem;
    }

    .header-title-sub {
        font-size: 1.25rem;
    }

    .header-subtitle {
        font-size: 1rem;
    }
}



@media (max-width: 450px) {
    .header-title {
        font-size: 1.2rem;
    }

    .header-title-sub {
        font-size: 1.1rem;
    }
}

.header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    overflow-x: hidden;
}

.header-image {
    position: relative;
    overflow: hidden;
}


.header-text {
    position: absolute;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}

.header-nav {
    position: absolute;
    color: white;
    font-weight: bold;

    padding-top: 1%;
    padding-left: 1%;
}

.header-title {
    padding-left: 1%;
    padding-right: 1%;
    align-self: center;
}

.header-title-sub {
    padding-left: 1%;
    padding-right: 1%;
    align-self: center;
    color: gainsboro;
}


.header-subtitle {
    color: gainsboro;
    align-self: center;
}

.header-button {
    color: white;
    border: 1px solid white;
}

.header-dropdown-menu {
    border-radius: 0;
}

.header-dropdown-item {
    font-size: 0.8rem;
    padding-left: 10px;
}
/* ***** END HEADER ***** */


/* NAVBAR STYLING */
.navbar {
    z-index: 100;
}

.navbar .navbar-brand {
    font-size: 25px !important;
    font-style: italic;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    margin-right: 15px;
    font-weight: 400;
}

.navbar-nav li.active a {
    color: black !important;
    font-weight: 400;
}

.navbar-nav li a:hover {
    color: rgba(255, 255, 255, 0.75) !important;
    font-weight: 400;
}
/* ********* END NAVBAR ************ */




/* GENERAL LINK STYLING */
a {
    color: #9cbbf3;
}
a:hover, a.in-line-link:hover, a.overlay-subtitle-link:hover {
    color: #b8cef6;
    text-decoration: none;
}

a.in-line-link {
    /*color: gainsboro;*/
    color: #9cbbf3;
}

a.overlay-subtitle-link {
    color: gainsboro;
}

.header-link {
    font-weight: bold;
}
/* *** END GENERAL LINK *** */

/* FOOTER STYLING */

/*.footer {*/
/*!*border-top: 1px solid gainsboro;*!*/
/*!*margin-top: 5%;*!*/
/*!*padding-top: 2%;*!*/
/*padding-bottom: 2%;*/
/*margin-left: 2%;*/
/*margin-right: 2%;*/
/*}*/

.header-text {
    pointer-events: auto !important;
}

footer div div a{
    /*font-weight: bold;*/
    color: white;
}


@media (max-width: 768px) {
    .footer {
        font-size: 0.75rem;
    }

}

@media (max-width: 968px) {

    .nav-item {
        font-size: 0.75rem;
    }
}


a.discography-shop-link.btn.btn-outline-dark:hover {
    color: white;
    background-color: black;
}

@media (min-width: 768px) {
    a.discography-shop-link.btn.btn-outline-dark {
        border: 2px solid black;

        padding: 10px 20px;


        font-weight: 400;
        font-size: 1.2rem;
        color: black;
    }

}

@media (max-width: 768px) {
    div a.discography-shop-link.btn.btn-outline-dark {
        border: 2px solid black;

        padding: 10px 20px;


        font-weight: 400;
        font-size: 12px;
        color: black;
    }
}



.home-container .row div a {
    color: black;
    font-size: 1.5rem;
}

.home-container .row div a:hover img {
    opacity: 0.75;
    color: rgba(0, 0, 0, 0.75);
}


h3 {
    font-weight: 200;
    font-style: italic;
}

strong.contact-toggle {
    font-weight: 400;
    font-size: 4rem;
}

label.contact-form {
    font-weight: 400;
    font-size: 20px;
}

.hideme
{
    opacity: 0;
    overflow: hidden;
    width: 0%;
    height: 100px;
    margin-left: 20%;
    margin-bottom: 30px;
    justify-self: center;
    align-self: center;
    /*margin: 50px;*/
    -webkit-transition: width 1000ms ease-in, opacity 1s ease-out;
    -moz-transition: width 1000ms ease-in, opacity 1s ease-out;
    -o-transition: width 1000ms ease-in, opacity 1s ease-out;
    transition: width 1000ms ease-in, opacity 1s ease-out;
}

.active
{
    opacity: 1;
    width: 100%;
}


.small {
    font-size: 12px;
}
