#enter-color {
    background-color: #000000;
}

#enter-screen {
    height: 100vh;
}

.enter-btn {
    height: 50px;
    width: 120px;
    font-weight: 200;
    border: 1px solid white;
}

#home-color {
    background-color: #000000;
}

#home-screen {
    height: 100vh;
}

.pink-box {
    background-color: white;
    width: 10%;
    height: 70%;
    margin-bottom: 2%;
}

.title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 8rem;
    color: black;
}
