* {
    margin: 0;
    padding: 0;
}
.div-fit {
    height: 100vh;
    width: 100vw;
}
.fit {
    position: center;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}